<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>

<body>

    <form action="/posts" method="post">
        <input type="text" placeholder="Enter username" name="username"> <br><br>
        <textarea name="content" placeholder="Write your content"></textarea><br><br>
        <button type="submit">Submit post</button>

    </form>

</body>

</html>